<div class="container">

  <div class="row">
    <div class="col-md-1">
      <p class="font-weight-bold">Employees</p>
    </div>
    <div class="col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
        <input type="text" (keyup)="search($event)" class="form-control" placeholder="Search by name" aria-label="Search" aria-describedby="search">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Username</th>
            <th scope="col">Hire Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees$ | async">
            <td>{{ employee.name }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.username }}</td>
            <td>{{ employee.hireDate }}</td>
            <td>
              <button (click)="goToNewEmployeeComponent('edit', employee.id)" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                title="Edit">
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>

              <button (click)="goToNewEmployeeComponent('view', employee.id)" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                title="View">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>

              <button (click)="deleteEmployee(employee)" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                title="Delete">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <button (click)="goToNewEmployeeComponent('new', 'newUser')" type="button" class="btn btn-light">+ Add New Employee</button>  
    </div>
  </div>

</div>